<h1>Eat Da Burger!</h1>
<img src="/assets/img/burger-151421.png" width="200px" alt="burger">
<ul>
    {{#each burger_flavor}}
        {{#unless this.devoured}}
            {{this.id}}. {{this.burger_name}}
        {{/unless}}
    {{/each}}
</ul>
    
<h2>Devoured</h2>
    {{#each burger_flavor}}
        {{#if this.devoured}}
            <ul>
                {{this.id}}. {{this.burger_name}}
            </ul>
        {{/if}}
    {{/each}}